# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
wheels/

# macOS
.DS_Store

# Virtual environments
.venv/
env/
ENV/

# Database / data
data/

# Airflow
logs/
plugins/

# IDE / Editor
.vscode/
.idea/

# Local dev folders
khoi_dev/

# Docker
*.log
docker-compose.override.yml

# Environment variable files
.env