services:
  postgres:
    image: postgres:11
    container_name: postgres
    environment:
      POSTGRES_USER: 'postgres_user'
      POSTGRES_PASSWORD: 'postgres_password'
      POSTGRES_DB: 'postgres_db'
    networks:
      - book-review-net
    volumes:
      - ./data/postgresql:/var/lib/postgresql/data
    expose:
      - '5432'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres_user -d postgres_db']
      interval: 10s
      timeout: 8s
      retries: 5
  mongodb:
    image: mongodb/mongodb-community-server:5.0.2-ubuntu2004
    container_name: mongodb
    ports:
      - 27017:27017
    environment:
      - MONGODB_INITDB_ROOT_USERNAME=mongo_user
      - MONGODB_INITDB_ROOT_PASSWORD=mongo_password
    volumes:
      - ./data/mongodb:/data/db
    healthcheck:
      test: ["CMD", "mongo", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 10s
      retries: 5
    restart: always
    networks:
      - book-review-net
  user-code:
    build:
      context: ./dagster-pipeline
      dockerfile: Dockerfile
    container_name: user-code
    image: user-code_image
    restart: always
    environment:
      DAGSTER_POSTGRES_USER: 'postgres_user'
      DAGSTER_POSTGRES_PASSWORD: 'postgres_password'
      DAGSTER_POSTGRES_DB: 'postgres_db'
      DAGSTER_POSTGRES_HOST: 'postgres'
      DAGSTER_POSTGRES_PORT: '5432'
    volumes:
      - ./dagster-pipeline/initial_books_data:/opt/dagster/app/initial_books_data
    expose:
      - '4000'
    healthcheck:
      test: ["CMD", "bash", "-c", "timeout 1 bash -c '</dev/tcp/localhost/4000'"]
      interval: 5s
      timeout: 3s
      retries: 10
    depends_on:
      postgres:
        condition: service_healthy
      mongodb:
        condition: service_healthy
    networks:
      - book-review-net
  dagster-webserver:
    build:
      context: ./dagster-instance
      dockerfile: Dockerfile
    entrypoint:
      - dagster-webserver
      - -h
      - '0.0.0.0'
      - -p
      - '3000'
      - -w
      - /opt/dagster/dagster_home/workspace.yaml
    container_name: dagster-webserver
    expose:
      - '3000'
    ports:
      - '3000:3000'
    environment:
      DAGSTER_POSTGRES_USER: 'postgres_user'
      DAGSTER_POSTGRES_PASSWORD: 'postgres_password'
      DAGSTER_POSTGRES_DB: 'postgres_db'
      DAGSTER_POSTGRES_HOST: 'postgres'
      DAGSTER_POSTGRES_PORT: '5432'
    volumes: # Make docker client accessible so we can terminate containers from the webserver
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp/io_manager_storage:/tmp/io_manager_storage
    networks:
      - book-review-net
    depends_on:
      postgres:
        condition: service_healthy
  dagster-daemon:
    build:
      context: dagster-instance
      dockerfile: Dockerfile
    entrypoint:
      - dagster-daemon
      - run
    container_name: dagster-daemon
    restart: on-failure
    environment:
      DAGSTER_POSTGRES_USER: 'postgres_user'
      DAGSTER_POSTGRES_PASSWORD: 'postgres_password'
      DAGSTER_POSTGRES_DB: 'postgres_db'
      DAGSTER_POSTGRES_HOST: 'postgres'
      DAGSTER_POSTGRES_PORT: '5432'
    volumes: # Make docker client accessible so we can launch containers using host docker
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp/io_manager_storage:/tmp/io_manager_storage
    networks:
      - book-review-net
    depends_on:
      postgres:
        condition: service_healthy
  spark-master:
    hostname: spark-master
    container_name: spark-master
    image: bitnami/spark:3.5.4
    environment:
      SPARK_MODE: master     
    ports:
      - 4040:4040
      - 8080:8080
      - 7077:7077      
    networks:
      - book-review-net
    depends_on:
      - mongodb
  spark-worker-1:
    hostname: spark-worker-1
    container_name: spark-worker-1
    image: bitnami/spark:3.5.4
    depends_on:
      - spark-master
      - mongodb
    environment:
      SPARK_MODE: worker
      SPARK_MASTER_URL: spark://spark-master:7077 
    ports:
      - 8081:8081
    networks:
      - book-review-net
  spark-worker-2:
    hostname: spark-worker-2
    container_name: spark-worker-2
    image: bitnami/spark:3.5.4
    depends_on:
      - spark-master
      - mongodb
    environment:
      SPARK_MODE: worker
      SPARK_MASTER_URL: spark://spark-master:7077
    ports:
      - 8082:8081
    networks:
      - book-review-net
  app:
    build:
      context: ./streamlit
      dockerfile: Dockerfile
    image: app-image
    container_name: book-review-app
    ports:
      - 8501:8501
    networks:
      - book-review-net
volumes:
  spark-logs:
networks:
  book-review-net:
    driver: bridge
    name: book-review-net